.container {
  width: 100%;
  padding: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-weight: 600;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
